<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/master-layout}">
<head>
<title>E-Student Registration</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div style="margin-bottom: 1em;">
			<span style="font-size: 2em; color: #32a5e7;">Edit product
				Registration data with product ID: [[${product.productId}]]</span>
		</div>
		<form id="editproductForm" method="post"
			action="/srm/secured/product/edit" th:object="${product}">
			<fieldset>


				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="productId">product ID</label> <span></span> <input
								id="productId" name="productId" type="text" class="form-control"
								th:value="${product.productId}" readonly>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="middleName">Product Number</label> <span
								th:if="${#fields.hasErrors('productNumber')}"
								th:errors="*{productNumber}" class="alert alert-danger"></span>
							<input id="productNumber" name="productNumber" type="text"
								class="form-control" th:value="${product.productNumber}">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name">Name</label> <span
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="alert alert-danger"></span> <input id="name" name="name"
								type="text" class="form-control" th:value="${product.name}">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="unitPrice">Unit Price </label> <span
								th:if="${#fields.hasErrors('unitPrice')}"
								th:errors="*{unitPrice }" class="alert alert-danger"></span> <input
								id="unitPrice " name="unitPrice " type="text"
								class="form-control" th:value="${product.unitPrice}">
						</div>

					</div>
				</div>
				<div class="row">

					<div class="col-md-6">
						<div class="form-group">
							<label for="quantityInStock">Quantity InStock </label> <span
								th:if="${#fields.hasErrors('quantityInStock')}"
								th:errors="*{unitPrice }" class="alert alert-danger"></span> <input
								id="quantityInStock" name="quantityInStock" type="text"
								class="form-control" th:value="${product.quantityInStock}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">

							<label for="supplier">Supplier:</label> <span
								th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}"
								class="alert alert-danger"></span> <select name="supplier"
								id="supplier" class="form-control" required="required">
								<option value="">Select a supplier</option>
								<option th:if="${product.supplier == null}"
									th:each="supplier : ${suppliers}"
									th:value="${supplier.supplierId}" th:text="${supplier.name}"></option>
								<option th:if="${product.supplier != null}"
									th:each="supplier : ${suppliers}"
									th:value="${supplier.supplierId}" th:text="${supplier.name}"
									th:selected="${supplier.supplierId == product.supplier.supplierId}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="dateSupplied">dateSupplied</label> <span
								th:if="${#fields.hasErrors('dateSupplied')}"
								th:errors="*{dateSupplied}" class="alert alert-danger"></span> <input
								id="dateSupplied" name="dateSupplied" type="date"
								class="form-control" th:value="${product.dateSupplied}">
						</div>
					</div>
				</div>

				<div style="float: right;">
					<a href="/eregistrar/product/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
					<button id="btnSubmit" type="submit"
						class="btn btn-outline-success">Update product</button>
				</div>
			</fieldset>
		</form>
	</th:block>
</body>
</html>